swagger: "2.0"
info:
  description: "This is the API description for Perman-api."
  version: "1.0"
  title: "Perman-api"
  termsOfService: "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
  contact:
    email: "mumingpo@gmail.com"
  # license:
  #   name: "Apache 2.0"
  #   url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.perman.io"
basePath: "/v1"
tags:
- name: "user"
  description: "Operations concerning individual users"
- name: "record"
  description: "Operations accessing individual records"
schemes:
- "https"
- "http"
paths:
  /user/registerFromEmail:
    post:
      tags:
      - "user"
      summary: "Create a new user from an email address"
      description: ""
      operationId: "registerFromEmail"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "An object containing the email address used for registration"
        schema:
          type: "object"
          required:
          - "email"
          properties:
            email:
              type: "string"
              format: "email"
              example: "somebody@example.com"
      responses:
        "200":
          description: "An account has been created and a verificaiton link has been sent through the email address"
          schema:
            $ref: "#/definitions/SuccessResponse"
        "422":
          description: "The email address cannot be used to create an account"
          schema:
            $ref: "#/definitions/FailureResponse"
        "400":
          description: "The request has been malformed"
          schema:
            $ref: "#/definitions/FailureResponse"
        "408":
          description: "Request has timed out"
          schema:
            $ref: "#/definitions/FailureResponse"
        "413":
          description: "The request payload is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "429":
          description: "User have made too many requests"
          schema:
            $ref: "#/definitions/FailureResponse"
        "431":
          description: "The request header is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "500":
          description: "The server has encountered an internal error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "503":
          description: "The server is temporarily unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
  /user/checkUsername:
    get:
      tags:
      - "user"
      summary: "Check whether a username is in-use"
      description: ""
      operationId: "checkUsername"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "query"
        name: "username"
        required: true
        description: "A username to be checked"
        type: "string"
        pattern: "^[A-Za-z][A-Za-z0-9]{5,29}$"
      responses:
        "200":
          description: "Result on whether username is available"
          schema:
            $ref: "#/definitions/SuccessResponse"
        "400":
          description: "The request has been malformed"
          schema:
            $ref: "#/definitions/FailureResponse"
        "408":
          description: "Request has timed out"
          schema:
            $ref: "#/definitions/FailureResponse"
        "413":
          description: "The request payload is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "429":
          description: "User have made too many requests"
          schema:
            $ref: "#/definitions/FailureResponse"
        "431":
          description: "The request header is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "500":
          description: "The server has encountered an internal error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "503":
          description: "The server is temporarily unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
  /user/verifyEmail:
    post:
      tags:
      - "user"
      summary: "Verify the email address used to create the account and initialize user"
      description: ""
      operationId: "verifyEmail"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "An object containing the email address, token, and the new username and password needed for the initialization process"
        schema:
          type: "object"
          required:
          - "email"
          - "token"
          - "newUsername"
          - "newPassword"
          properties:
            email:
              type: "string"
              format: "email"
              example: "somebody@example.com"
            token:
              type: "string"
              description: "A 16 byte authentication token encoded in base16 representation"
              example: "0123456789abcdef0123456789abcdef"
            newUsername:
              type: "string"
              example: "DebraAbraca03"
              pattern: "^[A-Za-z][0-9A-Za-z]{5,29}$"
            newPassword:
              type: "string"
              example: "BadPa$$w0rd"
      responses:
        "200":
          description: "Email has been verified and the account has been initialized"
          schema:
            $ref: "#/definitions/SuccessResponse"
        "400":
          description: "The request has been malformed"
          schema:
            $ref: "#/definitions/FailureResponse"
        "408":
          description: "Request has timed out"
          schema:
            $ref: "#/definitions/FailureResponse"
        "413":
          description: "The request payload is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "429":
          description: "User have made too many requests"
          schema:
            $ref: "#/definitions/FailureResponse"
        "431":
          description: "The request header is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "500":
          description: "The server has encountered an internal error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "503":
          description: "The server is temporarily unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
  /user/updatePassword:
    post:
      tags:
      - "user"
      summary: "Update user's password using the current password"
      description: ""
      operationId: "updatePassword"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "An object containing the old and new passwords"
        schema:
          type: "object"
          required:
          - "oldPassword"
          - "newPassword"
          properties:
            oldPassword:
              type: "string"
              example: "BadPa$$w0rd"
            newPassword:
              type: "string"
              example: "CorrectHorseBatteryStaple"
      responses:
        "200":
          description: "Password has been updated"
          schema:
            $ref: "#/definitions/SuccessResponse"
        "422":
          description: "Password cannot be updated as requested"
          schema:
            $ref: "#/definitions/FailureResponse"
        "400":
          description: "The request has been malformed"
          schema:
            $ref: "#/definitions/FailureResponse"
        "401":
          description: "User must log in to perform this action"
          schema:
            $ref: "#/definitions/FailureResponse"
        "403":
          description: "User is not authorized to perform this action"
          schema:
            $ref: "#/definitions/FailureResponse"
        "408":
          description: "Request has timed out"
          schema:
            $ref: "#/definitions/FailureResponse"
        "413":
          description: "The request payload is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "429":
          description: "User have made too many requests"
          schema:
            $ref: "#/definitions/FailureResponse"
        "431":
          description: "The request header is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "500":
          description: "The server has encountered an internal error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "503":
          description: "The server is temporarily unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
  /user/requestPasswordReset:
    post:
      tags:
      - "user"
      summary: "Request a password reset email"
      description: ""
      operationId: "requestPasswordReset"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "An object containing the email address of the account"
        schema:
          type: "object"
          required:
          - "email"
          properties:
            email:
              type: "string"
              format: "email"
              example: "somebody@example.com"
      responses:
        "200":
          description: "A password reset email has been sent to the email associated with the account, if it exists."
          schema:
            $ref: "#/definitions/SuccessResponse"
        "400":
          description: "The request has been malformed"
          schema:
            $ref: "#/definitions/FailureResponse"
        "422":
          description: "Account cannot be initialized due to problems within submitted form"
          schema:
            $ref: "#/definitions/FailureResponse"
        "408":
          description: "Request has timed out"
          schema:
            $ref: "#/definitions/FailureResponse"
        "413":
          description: "The request payload is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "429":
          description: "User have made too many requests"
          schema:
            $ref: "#/definitions/FailureResponse"
        "431":
          description: "The request header is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "500":
          description: "The server has encountered an internal error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "503":
          description: "The server is temporarily unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
  /user/resetPassword:
    post:
      tags:
      - "user"
      summary: "Use a token to reset the password"
      description: ""
      operationId: "resetPassword"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "An object containing the email address and temporary token of the account"
        schema:
          type: "object"
          required:
          - "email"
          - "token"
          properties:
            email:
              type: "string"
              format: "email"
              example: "somebody@example.com"
            token:
              type: "string"
              description: "A 16 byte authentication token encoded in base16 representation"
              example: "0123456789abcdef0123456789abcdef"
      responses:
        "200":
          description: "Password has been reset"
          schema:
            $ref: "#/definitions/SuccessResponse"
        "422":
          description: "Password cannot be reset as requested"
          schema:
            $ref: "#/definitions/FailureResponse"
        "400":
          description: "The request has been malformed"
          schema:
            $ref: "#/definitions/FailureResponse"
        "408":
          description: "Request has timed out"
          schema:
            $ref: "#/definitions/FailureResponse"
        "413":
          description: "The request payload is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "429":
          description: "User have made too many requests"
          schema:
            $ref: "#/definitions/FailureResponse"
        "431":
          description: "The request header is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "500":
          description: "The server has encountered an internal error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "503":
          description: "The server is temporarily unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
  /user/userProfile:
    get:
      tags:
      - "user"
      summary: "Get the current values of user profile"
      description: ""
      operationId: "getProfile"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        "200":
          description: "Successfully retrieved the user profile"
          schema:
            $ref: "#/definitions/SuccessResponse"
        "400":
          description: "The request has been malformed"
          schema:
            $ref: "#/definitions/FailureResponse"
        "401":
          description: "User must log in to perform this action"
          schema:
            $ref: "#/definitions/FailureResponse"
        "403":
          description: "User is not authorized to perform this action"
          schema:
            $ref: "#/definitions/FailureResponse"
        "408":
          description: "Request has timed out"
          schema:
            $ref: "#/definitions/FailureResponse"
        "413":
          description: "The request payload is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "429":
          description: "User have made too many requests"
          schema:
            $ref: "#/definitions/FailureResponse"
        "431":
          description: "The request header is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "500":
          description: "The server has encountered an internal error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "503":
          description: "The server is temporarily unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
    post:
      tags:
      - "user"
      summary: "Update user profile"
      description: ""
      operationId: "updateProfile"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "An object containing the user profile fields to be updated"
        schema:
          $ref: "#/definitions/UserProfile"
      responses:
        "200":
          description: "User profile has been successfully updated"
          schema:
            $ref: "#/definitions/SuccessResponse"
        "422":
          description: "User profile cannot be updated as requested"
          schema:
            $ref: "#/definitions/FailureResponse"
        "400":
          description: "The request has been malformed"
          schema:
            $ref: "#/definitions/FailureResponse"
        "401":
          description: "User must log in to perform this action"
          schema:
            $ref: "#/definitions/FailureResponse"
        "403":
          description: "User is not authorized to perform this action"
          schema:
            $ref: "#/definitions/FailureResponse"
        "408":
          description: "Request has timed out"
          schema:
            $ref: "#/definitions/FailureResponse"
        "413":
          description: "The request payload is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "429":
          description: "User have made too many requests"
          schema:
            $ref: "#/definitions/FailureResponse"
        "431":
          description: "The request header is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "500":
          description: "The server has encountered an internal error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "503":
          description: "The server is temporarily unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
  /mile:
    post:
      tags:
      - "record"
      summary: "Create a mile"
      description: ""
      operationId: "createMile"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        schema:
          $ref: "#/definitions/VersionedRecord"
      responses:
        "201":
          description: "Resource successfully created"
          schema:
            $ref: "#/definitions/SuccessResponse"
        "422":
          description: "Resource cannot be created as requested"
          schema:
            $ref: "#/definitions/FailureResponse"
        "400":
          description: "The request has been malformed"
          schema:
            $ref: "#/definitions/FailureResponse"
        "401":
          description: "User must log in to perform this action"
          schema:
            $ref: "#/definitions/FailureResponse"
        "403":
          description: "User is not authorized to perform this action"
          schema:
            $ref: "#/definitions/FailureResponse"
        "408":
          description: "Request has timed out"
          schema:
            $ref: "#/definitions/FailureResponse"
        "413":
          description: "The request payload is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "429":
          description: "User have made too many requests"
          schema:
            $ref: "#/definitions/FailureResponse"
        "431":
          description: "The request header is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "500":
          description: "The server has encountered an internal error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "503":
          description: "The server is temporarily unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
  /mile/{mileId}:
    get:
      tags:
      - "record"
      summary: "Fetch a mile"
      description: ""
      operationId: "getMileById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "mileId"
        description: "Primary key of the mile object referenced"
        required: true
        type: "integer"
      responses:
        "200":
          description: "Resource successfully retrieved"
          schema:
            $ref: "#/definitions/SuccessResponse"
        "404":
          description: "The requested resource does not exist"
          schema:
            $ref: "#/definitions/FailureResponse"
        "400":
          description: "The request has been malformed"
          schema:
            $ref: "#/definitions/FailureResponse"
        "403":
          description: "User is not authorized to perform this action"
          schema:
            $ref: "#/definitions/FailureResponse"
        "408":
          description: "Request has timed out"
          schema:
            $ref: "#/definitions/FailureResponse"
        "413":
          description: "The request payload is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "429":
          description: "User have made too many requests"
          schema:
            $ref: "#/definitions/FailureResponse"
        "431":
          description: "The request header is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "500":
          description: "The server has encountered an internal error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "503":
          description: "The server is temporarily unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
    put:
      tags:
      - "record"
      summary: "Update a mile"
      description: ""
      operationId: "updateMileById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "mileId"
        description: "Primary key of the mile object referenced"
        required: true
        type: "integer"
      - in: "body"
        name: "body"
        schema:
          $ref: "#/definitions/VersionedRecord"
      responses:
        "200":
          description: "Resource successfully updated"
          schema:
            $ref: "#/definitions/SuccessResponse"
        "404":
          description: "The requested resource does not exist"
          schema:
            $ref: "#/definitions/FailureResponse"
        "422":
          description: "The resource cannot be updated as requested"
          schema:
            $ref: "#/definitions/FailureResponse"
        "400":
          description: "The request has been malformed"
          schema:
            $ref: "#/definitions/FailureResponse"
        "401":
          description: "User must log in to perform this action"
          schema:
            $ref: "#/definitions/FailureResponse"
        "403":
          description: "User is not authorized to perform this action"
          schema:
            $ref: "#/definitions/FailureResponse"
        "408":
          description: "Request has timed out"
          schema:
            $ref: "#/definitions/FailureResponse"
        "413":
          description: "The request payload is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "429":
          description: "User have made too many requests"
          schema:
            $ref: "#/definitions/FailureResponse"
        "431":
          description: "The request header is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "500":
          description: "The server has encountered an internal error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "503":
          description: "The server is temporarily unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
      - "record"
      summary: "Delete a mile"
      description: ""
      operationId: "deleteMileById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "mileId"
        description: "Primary key of the mile object referenced"
        required: true
        type: "integer"
      responses:
        "200":
          description: "Resource successfully deleted"
          schema:
            $ref: "#/definitions/SuccessResponse"
        "404":
          description: "The requested resource does not exist"
          schema:
            $ref: "#/definitions/FailureResponse"
        "400":
          description: "The request has been malformed"
          schema:
            $ref: "#/definitions/FailureResponse"
        "401":
          description: "User must log in to perform this action"
          schema:
            $ref: "#/definitions/FailureResponse"
        "403":
          description: "User is not authorized to perform this action"
          schema:
            $ref: "#/definitions/FailureResponse"
        "408":
          description: "Request has timed out"
          schema:
            $ref: "#/definitions/FailureResponse"
        "413":
          description: "The request payload is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "429":
          description: "User have made too many requests"
          schema:
            $ref: "#/definitions/FailureResponse"
        "431":
          description: "The request header is too large"
          schema:
            $ref: "#/definitions/FailureResponse"
        "500":
          description: "The server has encountered an internal error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "503":
          description: "The server is temporarily unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
  /porn:
    get:
      summary: "Attempt to access a pornographic resource from this server"
      responses:
        "418":
          description: ":("
          schema:
            $ref: "#/definitions/FailureResponse"
definitions:
  UserProfile:
    type: "object"
    properties:
      firstName:
        type: "string"
        example: "Debra"
      lastName:
        type: "string"
        example: "Abraca"
      birthDate:
        type: "string"
        format: "date"
        example: "2000-01-01"
      timeZone:
        type: "string"
        format: "IANA"
        example: "America/New_York"
      locale:
        type: "string"
        format: "LDML"
        example: "en-US"
      privacyScope:
        type: "string"
        enum:
        - "public"
        - "friends"
        - "private"
        example: "friends"
    xml:
      name: "UserProfile"
  VersionedRecord:
    type: "object"
    required:
    - "displayName"
    - "version"
    - "createdAt"
    - "title"
    - "description"
    - "verifiedContemporaneousRecord"
    properties:
      displayName:
        type: "string"
        example: "Jogging"
      version:
        type: "integer"
        minimum: 1
        example: 1
      createdAt:
        type: "string"
        format: "date-time"
        example: "2020-20-20T20:20:20Z"
      title:
        type: "string"
        example: "Running along trail"
      description:
        type: "string"
        example: "Running a stretch of 1 mile along the Minutemen bike trail."
      verifiedContemporaneousRecord:
        type: "boolean"
        example: true
    xml:
      name: "VersionedRecord"
  SuccessResponse:
    description: "Request has been processed successfully"
    type: "object"
    required:
    - "status"
    - "data"
    properties:
      status:
        type: "string"
        enum:
        - "success"
      data:
        type: "object"
        description: "An object carrying a payload of data"
  FailureResponse:
    description: "Request failed due to a problem with the request"
    type: "object"
    required:
    - "status"
    - "data"
    properties:
      status:
        type: "string"
        enum:
        - "failure"
      data:
        type: "object"
        required:
        - "reasons"
        properties:
          reasons:
            type: "array"
            description: "A list of reasons why the request failed"
            items:
              type: "object"
              required:
              - "scopeName"
              - "errorCode"
              - "errorMessage"
              properties:
                scopeName:
                  type: "string"
                errorCode:
                  type: "string"
                errorMessage:
                  type: "string"
  ErrorResponse:
    description: "Request failed due to a problem with the server"
    type: "object"
    required:
    - "status"
    - "message"
    properties:
      status:
        type: "string"
        enum:
        - "error"
      message:
        type: "string"
        description: "A message indicating the problem experienced by the server"
externalDocs:
  description: "Error responses"
  url: "https://github.com/mumingpo/perman-api-specification/blob/main/v1/errorResponses.js"
